<header>
 <div class="head-bar">
  <ul class="list-bar">
   <li>todo</li>
   <li>my-page</li>
   <li>log-in</li>
   <li>log-out</li>
   <li>sign-in</li>
  </ul>
 </div>
</header>

<div class="main">

 <div class="side-bar">
  <ul>
   <li>テンプレート</li>
   <li>ボード</li>
  </ul>
  
 </div>

 <div class="main-content">

 </div>

</div>