
.main{
  display:flex;
  align-items: center;
}

.side-bar{
  background-color: black;
  width: 30vw;
  height: 100vh;
}

.main-content{
  background-color: blanchedalmond;
  width: 70vw;
  height: 100vh;
}
